pom.api/src/main/mule/pom-test-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d9c83ba8-de1c-4ca1-a51f-732cc6c64793" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="pom-test-apiFlow" doc:id="d83d5ddf-68ee-4104-ada6-5fa9973e1425" >
		<http:listener doc:name="Listener" doc:id="4c5d448d-7fb3-4308-985e-5d0852d4c149" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Testing the pom file in cloudhub"]' doc:name="Set Payload" doc:id="25868b18-1965-4bcd-8f48-563cc7fafdbe" />
		<logger level="INFO" doc:name="Logger" doc:id="63553f16-6fca-47a6-97de-d5c00d9f9d76" message="#[payload]"/>
	</flow>
</mule>
