src/main/mule/employee-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c532440e-2b3e-44f7-9d0f-b98eb58b348c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="91d295b6-060b-4a69-b746-56aeb42fd396" >
		<db:oracle-connection host="localhost" user="hr" password="Thulasip449" />
	</db:config>
	<flow name="employee-detailsFlow" doc:id="5cb129ca-003e-4830-8cd1-df4dbae5067c" >
		<http:listener doc:name="Listener" doc:id="733e080c-ed38-42a6-858c-17d582b21aae" config-ref="HTTP_Listener_config" path="/munitTest"/>
		<logger level="INFO" doc:name="Logger" doc:id="4bed94d6-4892-461f-99a2-2eb6ffa950f9" message="The logger has been started : #[attributes.queryParams]"/>
		<ee:transform doc:name="Transform Message" doc:id="01e1e7fc-e93a-48f9-ae0f-6b076f659dd7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "welcome to mulesoft" ++ (attributes.queryParams.firstname as String default ""++ " "++ attributes.queryParams.lastname as String default"")
	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5c53c6f1-ec66-4537-a4bc-6ccdc0e00836" message='"successfully completed training in git hub changes"'/>
	</flow>
</mule>
