env-pom/src/main/mule/env-test-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="507e51d4-6a25-49f8-bdd3-0c00112e8200" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="2ca07da2-05a6-4774-b90c-e4517f35aded" file="stage.yaml" />
	<flow name="env-test-apiFlow" doc:id="a7390611-71a9-48d9-ac0b-689c9400002f" >
		<http:listener doc:name="Listener" doc:id="d06b65d1-1704-45e4-8c1e-00d1bcc87dd4" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["testing the environment"]' doc:name="Set Payload" doc:id="58f0d253-376e-4cfe-a277-f1c005b22afb" />
		<logger level="INFO" doc:name="Logger" doc:id="3341c2da-f83c-4dd9-8451-8af9ea0f5bcd" message="#[payload]"/>
	</flow>
</mule>
